@import 'base/reset.scss';
@import 'layouts/header';
@import 'layouts/hero';

body {
    background: url('../images/popcorn.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Spicy Rice', cursive;
}
