.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    height: 80%;

    .hero {
        width: 70%;
        
        .series-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .fav-aside {
        width: 30%;
    }
}